
body{
    margin: 0;
    padding: 0;
    background: #ad663c;
    box-sizing: border-box;
-webkit-font-smoothing: antialiased;
}

/* =========== Navigation bar =================== */

 .navdiv ul{
     list-style: none;
     background: none;
     text-align: right;
     padding: 0;
     margin: 0;
     
}

.navdiv li{
    display: inline-block;
    text-decoration: none;
    width: 100px;
    padding: 8px;
    font-family: sans-serif;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

ul li a:hover{
    transition: 0.5s all ease-in-out;
    color: rgb(155, 94, 9);
    font-size: 20px;
    
}

/* =================logo============== */

.logo{
    position: absolute;
    height: 10%;
    left: 0px;
    width: 100px;
    margin-top: 10px;
    padding: 0;
    margin: 0;
    background: none;
    text-decoration: none;
    mix-blend-mode: color-burn;
    color: aqua;

    animation: rotate 3s linear infinite;
    
}

@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }



/*================ paragraph(intro)=============== */

p{
    text-align: center;
    font-size: large;
    color: #fff;
    font-family: sans-serif;
} 

/* ======================================= Viwe CV Button =============================== */

#anchor{
    background-color: #9fced1;
    height: 40px;
    width: 100px;
    display: block;
    margin: auto;
    left: 45%;
    font-size: 130%;
    text-align: center;
    border: 2px solid black;
    transition: all 0.2s ease;
    font-family: sans-serif;
    border-radius: 8%;
    transform-style: preserve-3d;
}

button:hover{
    transform: rotateY(180deg);
    background-color: #edc272;
    transition: transform 0.10s;
}

/* ==========================back to top button================ */

#backtotop{
    background-color: #ff90e8;
    z-index: 999;
    position: fixed;
    bottom: 5px;
    float: right;
    right: 18.5%;
    left: 77.25%;
    width: 60px;
    height: 50px;
    border-radius: 30%;
    transition: all 0.2s ease;
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}



/* =================================== Technical Skills =================================== */

/*     .Skillsection{
        height: 100vh;
        width: 70%;
        display: flex;
        background: none;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
    } */

    .Techskill{
    font-size: 50px;
    color: #fff;               
    margin: 50px;
    place-items: center;
    display: grid;
    font-family: sans-serif;
}

.imgHTML{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgHTML:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}
.imgCSS{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgCSS:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgJS{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgJS:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgReact{
  width: 8%;
  height: 10%;
  margin: 50px;
}

.imgReact:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgGIT{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgGIT:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgGITHUB{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgGITHUB:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgVB{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgVB:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgSQL{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgSQL:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgVSCODE{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgVSCODE:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}


    /* ================================ project section ========================= */

                         
                            /* title (project) */
     .por_jects_01{
        font-size: 50px;
        color: #fff;               
        margin: 50px;
        place-items: center;
        display: grid;
        font-family: sans-serif;
    } 

    /* ==========project text================== */

    #proTEXTbmi{
        padding-right: 57%;
        padding-bottom: 10px;       
    }

    #proTEXTportfolio{
        /* padding-bottom: 95%; */
        /* padding-bottom: 65%; */
    }

    #proTEXTGitLogg{
        padding-left: 55%;
    }

 /* ======================project images================= */

    .ProHorizontal{
        height: 150px;
        width: 75px;
        display: grid;
        font-family: sans-serif;
        justify-content: space-between;
        display: flex;
        padding-bottom: 250px;
        padding-inline: 150px;
        gap: 135px;
    }

    
    /* ================= Contact Info =============== */

    #contact {
          /* ==========contact outerbox============ */
        background-color: #cec6af;
        padding: 50px 20px;
        text-align: center;
        border-radius: 3%;
        font-family: sans-serif;
    }

    .contact-container {
        /* ==========contact middle box=========== */
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background-color: #b0ac62;
        border-radius: 10px;
    }

    #resize{  
        /* contact info heading */
            font-size: 250%;
            color: #f0e6e6;
        }
    
    .form-group {
        /* middle box text area */
        margin-bottom: 15px;
        text-align: left;
        display: inline-block;
        letter-spacing: 3px;
    }

    /* ============== copyright ========== */

    .copyright{
        margin: auto;
        width: 50%;
        padding: 10px;
        color: #fff;
        font-family: sans-serif;
    }

       /* smooth scrolling down when click on nav bar options */

    html{
        scroll-behavior: smooth;
    }
