
body{
    margin: 0;
    padding: 0;
    background: #ad663c;
    box-sizing: border-box;
-webkit-font-smoothing: antialiased;
}

/* =========== Navigation bar =================== */

 .navdiv ul{
     list-style: none;
     background: none;
     text-align: right;
     padding: 0;
     margin: 0;
     
}

.navdiv li{
    display: inline-block;
    text-decoration: none;
    width: 100px;
    padding: 8px;
    font-family: sans-serif;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

ul li a:hover{
    transition: 0.5s all ease-in-out;
    color: rgb(155, 94, 9);
    font-size: 20px;
    
}

/* =================logo============== */

.logo{
    position: absolute;
    height: 10%;
    left: 0px;
    width: 100px;
    margin-top: 10px;
    padding: 0;
    margin: 0;
    background: none;
    text-decoration: none;
    mix-blend-mode: color-burn;
    color: aqua;
    
}


/*================ paragraph(intro)=============== */

p{
    text-align: center;
    font-size: large;
    color: #fff;
    font-family: sans-serif;
} 

/* ======================================= Viwe CV Button =============================== */

button{
    display: block;
    margin: auto;
    left: 45%;
    height: 50px;
    width: 150px;
    font-size: 130%;
    text-align: center;
    border: 2px solid black;
    color: #fff;
    background: transparent;
    transition: all 0.2s ease;
    font-family: sans-serif;
}

button:hover {
    transform: scale(0.96);
    border: 2px solid rgb(39, 35, 35);
    border-radius: 10px;
}

.myclass{
    color: white;
}

/* .body style {
    left: 30px;
} */



/* =================================== Technical Skills =================================== */

    .Skillsection{
        height: 100vh;
        width: 70%;
        display: flex;
        background: none;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
    }

    .Techskill{
      font-size: 50px;
      color: #fff;
    }

    .container{
        position: relative;
        max-width: 500px;
        width: 100%;
        background: none;
        margin: 0 15px;
        padding: 10px 20px;
        border-radius: 7px;
    }
    .container .skill-box{
        width: 100%;
        margin: 25px 0;
    }
    .skill-box .title{
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        font-size: 30px;
    }
    .skill-box .skill-bar{
        height: 8px;
        width: 100%;
        border-radius: 6px;
        margin-top: 6px;
        background: rgba(0,0,0,0.1);
    }
    .skill-bar .skill-per{
        position: relative;
        display: block;
        height: 100%;
        width: 90%;
        border-radius: 6px;
        background: #d1afa2;
        animation: progress 0.4s ease-in-out forwards;
        opacity: 0;
    }
    .skill-per.css{
        width: 50%;
        animation-delay: 0.1s;
    }
    .skill-per.javascript{
        width: 50%;
        animation-delay: 0.2s;
    }
    .skill-per.VBNet{
        width: 60%;
        animation-delay: 0.3s;
    }
    .skill-per.MSSql{
        width: 50%;
        animation-delay: 0.3s;
    }
    @keyframes progress {
        0%{
            width: 0;
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }
    .skill-per .tooltip{
        position: absolute;
        right: -14px;
        top: -28px;
        font-size: 9px;
        font-weight: 500;
        color: #fff;
        padding: 2px 6px;
        border-radius: 3px;
        background: #40a3f4;
        z-index: 1;
    }
    .tooltip::before{
        content: '';
        position: absolute;
        left: 50%;
        bottom: -2px;
        height: 10px;
        width: 10px;
        z-index: -1;
        background-color: #4070f4;
        transform: translateX(-50%) rotate(45deg);
    
    }

    .ul .pic{
        position: relative;
        margin-bottom: 100%S;
    }



    /* ================================ project section ========================= */

                         
                            /* title (project) */
    .por_jects_01{
        font-size: 50px;
        color: #fff;               
        margin: 50px;
        place-items: center;
        display: grid;
        font-family: sans-serif;
    }
          

    .pro{
        margin-left: 10%;
        width: 400px;
        display: inline-block;
        border-radius: 5%;
    }

    .pro:hover{
        transform: scale(0.90);
        border: 2px solid rgb(207, 136, 55);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease;
        cursor: pointer;
    }

    /* ================= Contact Info =============== */

    #contact {
          /* ==========contact outerbox============ */
        background-color: #cec6af;
        padding: 50px 20px;
        text-align: center;
        border-radius: 3%;
        font-family: sans-serif;
    }

    .contact-container {
        /* ==========contact middle box=========== */
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background-color: #b0ac62;
        border-radius: 10px;
    }

    #resize{  
        /* contact info heading */
            font-size: 250%;
            color: #f0e6e6;
        }
    
    .form-group {
        /* middle box text area */
        margin-bottom: 15px;
        text-align: left;
        display: inline-block;
        letter-spacing: 3px;
    }

    /* ============== copyright ========== */

    .copyright{
        margin: auto;
        width: 50%;
        padding: 10px;
        color: #fff;
        font-family: sans-serif;
    }

       /* smooth scrolling down when click on nav bar options */

    html{
        scroll-behavior: smooth;
    }
