
body{
    margin: 0;
    padding: 0;
    background: #ad663c;
    box-sizing: border-box;
-webkit-font-smoothing: antialiased;
}

/* =========== Navigation bar =================== */

 .navdiv ul{
     list-style: none;
     background: none;
     text-align: right;
     padding: 0;
     margin: 0;
     
}

.navdiv li{
    display: inline-block;
    text-decoration: none;
    width: 100px;
    padding: 8px;
    font-family: sans-serif;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

ul li a:hover{
    transition: 0.5s all ease-in-out;
    color: rgb(155, 94, 9);
    font-size: 20px;
    
}

/* =================logo============== */

.logo{
    position: absolute;
    height: 10%;
    left: 0px;
    width: 100px;
    margin-top: 10px;
    padding: 0;
    margin: 0;
    background: none;
    text-decoration: none;
    mix-blend-mode: color-burn;
    color: aqua;

    animation: rotate 3s linear infinite;
    
}

@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }



/*================ paragraph(intro)=============== */

p{
    text-align: center;
    font-size: large;
    color: #fff;
    font-family: sans-serif;
} 

/* ======================================= Viwe CV Button =============================== */

#anchor{
    background-color: #9fced1;
    height: 40px;
    width: 100px;
    display: block;
    margin: auto;
    left: 45%;
    font-size: 130%;
    text-align: center;
    border: 2px solid black;
    transition: all 0.2s ease;
    font-family: sans-serif;
    border-radius: 8%;
    transform-style: preserve-3d;
}

button:hover{
    transform: rotateY(180deg);
    background-color: #edc272;
    transition: transform 0.10s;
}

/* ==========================back to top button================ */

#backtotop{
    background-color: #ff90e8;
    z-index: 999;
    position: fixed;
    bottom: 5px;
    float: right;
    right: 18.5%;
    left: 77.25%;
    width: 60px;
    height: 50px;
    border-radius: 30%;
    transition: all 0.2s ease;
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}



/* =================================== Technical Skills =================================== */

/*     .Skillsection{
        height: 100vh;
        width: 70%;
        display: flex;
        background: none;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
    } */

    .Techskill{
    font-size: 50px;
    color: #fff;               
    margin: 50px;
    place-items: center;
    display: grid;
    font-family: sans-serif;
}

.imgHTML{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgHTML:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}
.imgCSS{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgCSS:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgJS{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgJS:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgReact{
  width: 8%;
  height: 10%;
  margin: 50px;
}

.imgReact:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgGIT{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgGIT:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgGITHUB{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgGITHUB:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgVB{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgVB:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgSQL{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgSQL:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

.imgVSCODE{
    width: 8%;
    height: 10%;
    margin: 50px;
}

.imgVSCODE:hover{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.20s; 
}

/*     .container{
        position: relative;
        max-width: 500px;
        width: 100%;
        background: none;
        margin: 0 15px;
        padding: 10px 20px;
        border-radius: 7px;
    }
    .container .skill-box{
        width: 100%;
        margin: 25px 0;
    }
    .skill-box .title{
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        font-size: 30px;
    }
    .skill-box .skill-bar{
        height: 8px;
        width: 100%;
        border-radius: 6px;
        margin-top: 6px;
        background: rgba(0,0,0,0.1);
    }
    .skill-bar .skill-per{
        position: relative;
        display: block;
        height: 100%;
        width: 90%;
        border-radius: 6px;
        background: #d1afa2;
        animation: progress 0.4s ease-in-out forwards;
        opacity: 0;
    }
    .skill-per.css{
        width: 50%;
        animation-delay: 0.1s;
    }
    .skill-per.javascript{
        width: 50%;
        animation-delay: 0.2s;
    }
    .skill-per.VBNet{
        width: 60%;
        animation-delay: 0.3s;
    }
    .skill-per.MSSql{
        width: 50%;
        animation-delay: 0.3s;
    }
    @keyframes progress {
        0%{
            width: 0;
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }
    .skill-per .tooltip{
        position: absolute;
        right: -14px;
        top: -28px;
        font-size: 9px;
        font-weight: 500;
        color: #fff;
        padding: 2px 6px;
        border-radius: 3px;
        background: #40a3f4;
        z-index: 1;
    }
    .tooltip::before{
        content: '';
        position: absolute;
        left: 50%;
        bottom: -2px;
        height: 10px;
        width: 10px;
        z-index: -1;
        background-color: #4070f4;
        transform: translateX(-50%) rotate(45deg);
    
    }

    .ul .pic{
        position: relative;
        margin-bottom: 100%S;
    } */



    /* ================================ project section ========================= */

                         
                            /* title (project) */
     .por_jects_01{
        font-size: 50px;
        color: #fff;               
        margin: 50px;
        place-items: center;
        display: grid;
        font-family: sans-serif;
    } 

    /* .proTEXTbmi{
        text-align: left;
        padding-left: 15px;
    }
      
    .proIMGbmi{
        height: 200px;
        width: 330px;
        place-items: left;
        font-family: sans-serif;
        padding-left: 15px;
        border-radius: 15px;
    } */

    /* .ProHorizontal{
        text-align: center;
        padding-left: 15px;
    } */

    #proTEXTbmi{
        justify-content: left;
        text-align: left;
        padding-bottom: 50px;
        
    }

    #proTEXTportfolio{
        text-align: center;
        padding-left: 18%;
        padding-bottom: 50px;
    }

    #proTEXTGitLogg{
        text-align: right;
        padding-right: 10%;
        padding-bottom: 30%;

    }

    .ProHorizontal{
        /* justify-content: space-between; */
        height: 150px;
        width: 75px;
        place-items: left;
        display: grid;
        font-family: sans-serif;
        padding-left: 15px;
        border-radius: 500px;
        justify-content: space-between;
        display: flex;
        position: relative;
        padding-bottom: 250px;
        /* margin-left: 120px; */
        padding-inline: 5px;
        margin: 5px;
    }

    
    
    /* .pro{
        position: absolute;
        margin-left: 10%;
        width: 250px;
        display: inline-block;
        border-radius: 5%;
    } */


    /* ================= Contact Info =============== */

    #contact {
          /* ==========contact outerbox============ */
        background-color: #cec6af;
        padding: 50px 20px;
        text-align: center;
        border-radius: 3%;
        font-family: sans-serif;
    }

    .contact-container {
        /* ==========contact middle box=========== */
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background-color: #b0ac62;
        border-radius: 10px;
    }

    #resize{  
        /* contact info heading */
            font-size: 250%;
            color: #f0e6e6;
        }
    
    .form-group {
        /* middle box text area */
        margin-bottom: 15px;
        text-align: left;
        display: inline-block;
        letter-spacing: 3px;
    }

    /* ============== copyright ========== */

    .copyright{
        margin: auto;
        width: 50%;
        padding: 10px;
        color: #fff;
        font-family: sans-serif;
    }

       /* smooth scrolling down when click on nav bar options */

    html{
        scroll-behavior: smooth;
    }
